<html>
  <head>
    <title>GCP - Tutorial</title>
    <style>
      .message-content {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 21px;
      }
    
      .attention {
        text-transform: uppercase;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class='message-content'>
      <p>Olá {{name}}</p>
      <p>O seu cadastro realizado na data de {{date}} foi aprovado!</p>
      <p>Para acessar sua conta segue os dados:</p>
      <p>Email: {{email}}</p>
      <p>Senha: {{password}}</p>
      <p>
        <a href="{{link}}">Acessar minha conta</a>
      </p>
      <p><strong class="attention">Atenção:</strong> A senha de acesso é gerada automaticamente. Para sua segurança, solicitamos que realize a alteração após acessar o sistema.</p>
      <p>
        Obrigado!
        <br />
        <strong>Equipe Flexaseal</strong>
      </p>
    </div>
  </body>
</html>