<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}},</p>
  <p>Sua conta no ... está quase pronta. Para ativá-la, por favor confirme o seu endereço de email clicando no link
    abaixo.</p>
  <p>
    <a href="{{link}}">Ativar minha conta/Confirmar meu email</a>
  </p>
  <p>Sua conta não será ativada até que seu email seja confirmado.</p>
  <p>Se não foi você, então descarte esse email!</p>
  <p>
    Obrigado!
    <br />
  </p>
</div>
