<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}},</p>
  <p>Sua conta no FLEX está quase pronta. Para ativá-la, por favor usar o token abaixo.</p>
    <p style='font-size: 24px; font-weight: 700; letter-spacing: 5px;'>
    {{token}}
  </p>
  <p>Sua conta não será ativada até que seu email seja confirmado.</p>
  <p>Se você não se cadastrou no FLEX recentemente, por favor ignore este email.</p>
  <p>
    Obrigado!
    <br />
    <strong>Equipe FLEX</strong>
  </p>
</div>
